server:
  host: http://1.1.1.1:9001 # Публичный адрес:порт, за которым сидит бот
  listen: 0.0.0.0:9001 # Порт на котором ожидает события бот

# Параметры api 1c-connect
connect:
  login: partner
  password: password

# Директория с файлами
files_dir: ./

# Необязательный параметр id специалиста, от лица которого работает бот
# spec_id: 70b8742d-8eb9-427c-b0db-bea80fefe6ca

# Используются ли общие настройки линии для автозакрытия обращений
# Иначе обращения, которые остаются на боте, будут закрывать автоматически через час
use_general_settings: true

# id линий поддержки, на которых работает бот
line:
  - db13946a-2556-11ea-a699-3a6eaf2a5dcf
