# Если logging отсутствует то это равноценно enabled: false
logging:
  # Включить сохранение логов
  enabled: true
  # Каталог в который будут сохранены все логи, если оставить пустым то логи будут сохраняться в ./log
  directory: "log"
  # Формат имени файла, можно оставить пустым и тогда все логи будут сохраняться в app.log
  # О том какие части формата даты и времени можно применить можно посмотреть в столбце "Шаблон Go" на https://golangify.com/date-time-layout-2006-01-02#layout
  # Также в имя можно добавлять различные символы и буквы, например: "YY:2006 MM:01 DD:02"
  filename_format: "2006-01-02"

# Если color отсутствует то это равноценно no_color: true
color:
  # Отключение поддержки цветного отображения в логах
  no_color: false
  
  # Настройка цветов для различных типов логов
  crit: # Критические ошибки    
    enabled: true # Включить подцветку
    rgb: [255, 0, 0] # Выбор цвета сообщения
  debug: # Сообщения отладки
    enabled: true
    # Если enabled: true и rgb отсутствует, то используется цвет по умолчанию
  warning: # Предупреждения
    enabled: true
    rgb: [255, 255, 0]
  event: # Сообщения о событиях в конфигурационных файлах
    enabled: false